@font-face {
    font-family: Main;
    src: url(font/LinBiolinum_K\ copy.otf);
}


body, html{
background-color: black;
overflow-x: hidden;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
  }

.title{
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.30rem rgb(255, 252, 252));
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    left:68.5vw;
    line-height: 1;
}


.title-two{
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.30rem rgb(255, 252, 252));
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    left:0.5vw;
    line-height: 1;
}


.gif{
    width: 25%;
    left: 0;
    top: 0;
    position: fixed;
    filter: drop-shadow(0 0 0.30rem rgb(255, 252, 252));
    opacity: 1;
    z-index: 3;
 
  }

  .button:hover .gif {
    filter: drop-shadow(0 0 0.9rem rgb(255, 252, 252));
    cursor: pointer;
  }


  .hidden-message{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 238, 1);
    position: fixed;
    left: 0;
    top:10vh;
    opacity: 0;
    z-index: 3;
  }

.button:hover .hidden-message {
  opacity: 1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.azerty-qwerty{
    display: flex;
    width: 45%;
    height: auto;
    filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
    left: 25vw;
    position: fixed;
    top:0;
    z-index: 3;
}


.description{
    display: block;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: yellow;
    text-transform: uppercase;
    text-align: right;
    bottom: 65vh;
    margin-right: 6%;
}
.description-two{
    display: block;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: yellow;
    text-transform: uppercase;
    text-align: right;
    bottom: 55vh;
    margin-right: 6%;
}



.video{
    display: inline-block;
}

.video-one{
    position: relative;
    width:35%;
    height: auto;
    bottom:60vh;
    margin: 1%;
    left: 1vw;
    border: 10px rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.5rem rgb(255, 252, 252));
    border-style: groove;
}

.video-two{
    position: relative;
    width:35%;
    height: auto;
    left:5vw;
    margin: 1%;
    bottom:60vh;
    border: 10px rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.5rem rgb(255, 252, 252));
    border-style: groove;
}

.video-three{
    position: relative;
    width:35%;
    height: auto;
    bottom:60vh;
    margin: 1%;
    left: 15vw;
    border: 10px rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.9rem rgb(255, 252, 252));
    border-style: groove;
}

.video-four{
    position: relative;
    width:35%;
    height: auto;
    bottom:60vh;
    left: 18vw;
    margin: 1%;
    border: 10px rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.9rem rgb(255, 252, 252));
    border-style: groove;
}

.text{
    display:block;
    position: relative;
    height: 100%;
    bottom:60vh;
}

.text-one{
    color: rgb(255, 255, 255);
    font-size: 1.35rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin:1%; 
    
}

.text-two{
    color: rgb(255, 255, 255);
    font-size: 1.35rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin:1%; 
}

.text-three{
    color: rgb(255, 255, 255);
    font-size: 1.35rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin:1%; 
    top:73vh;
}


.scroll{
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    color: yellow;
    text-decoration: underline
}
